h1{
  justify-content: center;
  font-size: 30px;
  text-align: center;
  font-family: 'Boogaloo', cursive;
}

body{
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  margin-top: 3%;
}

.navbar-custom {
  background-color:#ee9ca7;
  font-family:'Spectral', cursive;
  font-size: 18px;
 }

 ul.nav a:hover {
   color: white !important;
 }

.img-rounded{

  height: 400px;
  width: 400px;
}
.col-md-4{
  font-family:'Spectral', cursive;
  font-size: 20px;
}
.newform{
  display: none;
}
