.navbar-custom {
  background-color:#FF5F6D;
 }

 ul.nav a:hover {
   color: white !important;
 }


 #myCarousel{
   padding-top: 5%;
 }

.tagline{
  text-align: center;
  margin-bottom: 30%;
  font-family:'Boogaloo', cursive;
}

body{
  font-family: 'Spectral', serif;
}


.panel-footer{
  background-color: #FF5f6d;
  margin-top: 1.5%;
}
