img{
  height:625px;
  width:937px;
  position: relative;
}

h2 {
   position: absolute;
   top: 200px;
   left:0px;
   width: 100%;


}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;

   padding: 10px;
}

h2 span.spacer {
   padding:0 5px;
}
